*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    min-height: 80vh;
    position: relative;
    background-image: url(./images/pattern-background-desktop.svg);
    
    font-family: 'Red Hat Display', sans-serif;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);

    }

    .card-body{
        margin-top: 60px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        background-color: white;
        max-width: 350px;
        border-radius: 20px;
        overflow: hidden;
        max-height: 100vh;
        font-size: 16px;
    }

    .desc{
        
        text-align: center;
        padding: 30px;
    }
    
    .desc h1{
      text-align: center;
      color: hsl(223, 47%, 23%);
      margin-top: 5px;
      font-weight: 900;
    }
    .desc p {
        color: hsl(224, 23%, 55%);
        line-height: 1.4em;
        margin-top: 20px;
    }
    .plan{
        background-color: hsl(225, 100%, 98%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-radius: 12px;
        margin-left:20px;
        margin-right: 20px;
        font-size: 12px;
    }
    .plan-left{
        display: flex;
        justify-content:space-between;
        align-items: center;
        
        
    }
    .plan-left > div{
        margin-left: 20px;
    }

    .plan-left > div > h2{
        font-weight: 900;
        font-size: 15px;
        margin-bottom: 5px;
        color: hsl(223, 47%, 23%);
    }

    .plan-left > div > p{
        color: hsl(224, 23%, 55%);
        letter-spacing: 0.15em;
    }
    a:hover{
      text-decoration: none;
      opacity: 0.8;
    }
    
    #buttons{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        padding: 14.5px;
        
        
    }
    .button1{
        background: hsl(245, 75%, 52%);
        color: hsl(225, 100%, 98%);
        font-weight: 700;
        padding: 14.5px;
        width: 300px;
        border-radius: 10px;
        margin-bottom: 15px;
        box-shadow: 0px 11px 15px hsl(224, 23%, 55%);
        z-index: 2; 
    }
    .button1:hover{
        opacity: 0.6;
        color: hsl(225, 100%, 98%)
    }
    .button2{
        margin-bottom: 5px;
        font-weight: 700;
        padding: 14.5px;
        background-color: white;
    }
    .button2:hover{
        color:hsl(224, 23%, 55%);
    }

   /*   media queries */

   @media only screen and (max-width: 426px;) {
    .card-body{
        max-width: 87%;
    }
    body{
        font-size: 14px;
        background-image: url(./images/pattern-background-mobile.svg);
    }
   }

